Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-08, with the labels that each got.

#329 CCN3-1577 bug fix: Reset email resent timestamp for flagged household member health checks
  application/business_logic.py
  application/views/other_people.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#330 Fix/CCN3-1379/different-childcare-address-location
  application/templates/cl-cancel-application.html
  application/templates/cr-cancel-application-confirmation.html
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/cancel_application.py
  application/views/personal_details.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#332 CCN3-1555: Only allow one time use of SMS code for login
  application/views/magic_link.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#333 CCN3-1433: Display Resend email link on one line
  application/static/stylesheets/custom.css
  application/templates/generic-summary-template.html
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#334 CCN3-1555: Fix SMS code validation logic
  application/views/magic_link.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#336 feat/ccn3-1418/pool-nanny-applications
  application/migrations/0022_auto_20180731_1119.py
  application/models/arc.py
Labels: App: Backend, Priority: High, Type: Feature

#337 fix/trello-81/household-email-not-sent
  application/business_logic.py
  application/views/other_people.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#338 feat/CCN3-1433/rename-health-check-status
  application/views/other_people.py
  application/views/other_people_health_check/thank_you.py
Labels: App: Backend, Priority: Medium, Status: Review Needed

#339 Fix/people-in-your-home
  application/migrations/0022_adultinhome_healthcheckstatus_update.py
  application/views/other_people.py
  application/views/other_people_health_check/thank_you.py
Labels: App: Backend, Priority: Critical, Status: Review Needed, Type: Bug

#340 Add signatures to cookie content to prevent tampering
  application/middleware.py
  childminder/settings/base.py
  childminder/settings/dev.py
Labels: App: Backend, Type: Enhancement

#349 fix/CCN3-1382/remove-change-email-buttons
  application/business_logic.py
  application/forms/other_people.py
  application/templates/generic-summary-template.html
  application/templatetags/people_in_your_home.py
  application/views/other_people.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed

#350 fix/CCN3-1439/household-link-expired
  application/business_logic.py
  application/views/other_people.py
  application/views/other_people_health_check/health_check_login.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#351 fix/CCN3-1382/remove-change-email-buttons
  application/views/other_people.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Bug

#358 Update guidance for childcare registers
  application/templates/childcare-guidance.html
Labels: App: Frontend, Env: Dev, Type: Userstory

#361 Conditional rendering of summary page updates
  application/templates/payment-confirmation.html
Labels: App: Frontend

#362 feat/CCN3-1672/start-page-content
  application/templates/start-page.html
Labels: App: Frontend, Priority: Medium, Type: Content

#363 feat/CCN3-1673/costs-page-content
  application/templates/costs-guidance.html
Labels: App: Frontend, Priority: Medium, Type: Content

#366 business_logic.py: Fix ValueError being thrown when creating record.
  application/business_logic.py
Labels: App: Backend, Priority: Medium, Type: Bug

#374 Health check resend
  application/views/other_people.py
Labels: App: Backend
