Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-05, with the labels that each got.

#126 Fix/test-email-notification-fix
  application/notify.py
  application/views/magic_link.py
Labels: App: Backend, Priority: High

#127 feat/ccn3-889/improve-selenium-test-coverage
  application/tests/selenium_task_executor.py
  application/tests/test_selenium.py
Labels: App: Backend, Type: Tests

#125 personal_details.py: Remove status update for personal details task
  application/views/personal_details.py
Labels: App: Frontend, Status: Review Needed, Type: Bug

#129 first_aid.py: Redirect out of date first aid certificates to task list
  application/views/first_aid.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Bug

#130 fix/dob-security-question-validation
  application/forms/security_question.py
  application/tests/test_selenium.py
  application/views/security_question.py
Labels: App: Frontend, Status: Review Needed, Type: Bug

#134 Fix/test validate apostrophes in name. Add tests for add other children and other adults
  application/forms/contact_info.py
  application/forms/other_people.py
  application/tests/test_functional.py
  application/tests/test_selenium.py
  application/tests/test_validation.py
Labels: Type: Enhancement

#133 feat/CCN3-993/check-mandatory-fields-references
  application/forms/references.py
  application/tests/tests_selenium/apply_as_a_childminder.py
Labels: App: Frontend, Priority: Medium, Type: Enhancement

#139 Re-order master summary page to match task list
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#141 prevent caching of task list to ensure statuses of tasks are current
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Type: Enhancement

#143 Merge 'feat/CCN3-1050/gdpr' into 'develop'
  application/templates/application-saved.html
  application/templates/contact-email.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#140 Feat/ccn3-1053/postcode lookup design
  application/templates/personal-details-childcare-address.html
  application/templates/personal-details-home-address.html
  application/templates/references-first-reference-address.html
  application/templates/references-second-reference-address.html
Labels: Type: Feature

#144 Refactor/childminder tests
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: Priority: High, Type: Tests

#146 Bug fix: remove last sentence on start page
  application/templates/start-page.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#149 CCN3-888 bug fixes
  application/templates/costs-guidance.html
  application/templates/other-people-children-question.html
  application/templates/payment-details.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#150 Align master summary task names
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Type: Userstory

#153 Merge 'feat/CCN3-892/returned-updates' into 'develop'
  application/fixtures/test_returned_application.json
  application/migrations/0003_auto_20180511_1126.py
  application/migrations/0005_merge_20180514_1633.py
  application/models/application.py
  application/models/arc.py
  application/static/stylesheets/custom.css
  application/templates/declaration-declaration.html
  application/templates/payment-confirmation-resubmitted.html
  application/templates/task-list.html
  application/tests/tests_application/test_functional.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/declaration.py
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Userstory

#157 Fix cost logic
  application/templates/task-list.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#154 feat/ccn3-1068/changing-email-address-content
  application/forms/contact_info.py
  application/templates/contact-summary.html
  application/templates/email-sent.html
  application/templates/resend-email.html
  application/templates/update-email.html
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/tests/tests_views/test_existing_application.py
  application/tests/tests_views/test_login_and_contact_details.py
  application/tests/tests_views/view_parent.py
  application/utils.py
  application/views/login/email.py
  application/views/magic_link.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Bug, Type: Refactor

#156 Update validation on name in personal details
  application/forms/personal_details.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: App: Backend, Env: Dev, Priority: Medium

#160 Update master summary content
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev

#161 Merge 'fix/declaration-enable' into 'develop'
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#163 Merge 'fix/declaration-reset' into develop
  application/business_logic.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#164 Update CSS not supported by Internet Explorer
  application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Type: Bug

#169 Merge 'feat/CCN3-1134/declaration-updates' into 'develop
  application/business_logic.py
  application/forms/declaration.py
  application/migrations/0006_application_suitable_declare.py
  application/models/application.py
  application/templates/declaration-declaration.html
  application/templates/declaration-intro.html
  application/tests/tests_application/test_functional.py
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#172 Scroll down to new fields when adding a new person in home
  application/templates/other-people-adult-details.html
  application/templates/other-people-children-details.html
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Type: Feature

#174 feat/ccn3-1176/update-security-code-workflow
  application/fixtures/test_returned_application.json
  application/migrations/0006_auto_20180517_1450.py
  application/migrations/0007_merge_20180518_1141.py
  application/models/user_details.py
  application/templates/resend-security-code.html
  application/templates/verify-phone.html
  application/tests/tests_application/test_functional.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/magic_link.py
  application/views/security_question.py
  childminder/settings/base.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#176 Reroute applications to their confirmation pages in arc review and accepted as well as submitted
  application/views/help_and_advice.py
Labels: App: Frontend, Env: Dev, Type: Enhancement

#179 Adding validation for second reference mobile number
  application/forms/references.py
Labels: App: Backend, Env: Dev, Type: Bug

#181 Update to time known business logic
  application/business_logic.py
Labels: App: Backend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#182 Remove hyphen from resubmission log message
  application/views/declaration.py
Labels: App: Backend, Env: Dev, Type: Userstory

#177 feat/CCN3-1183/check-email-sending-templates
  application/payment.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed

#180 Merge 'feat/CCN3-1083/returned-error' into 'develop'
  application/forms/contact_info.py
  application/summary_page_data.py
  application/templates/generic-error-summary.html
  application/templates/returned-error-summary.html
  application/views/childcare_type.py
  application/views/contact_info.py
  application/views/dbs.py
  application/views/eyfs.py
  application/views/health.py
  application/views/other_people.py
  application/views/personal_details.py
  application/views/references.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#188 Update help name to be help and contacts
  application/templates/costs-guidance.html
  application/templates/help-and-contact.html
  application/templates/resend-email.html
  application/views/__init__.py
  application/views/costs.py
  application/views/help_and_contact.py
  childminder/settings/base.py
  childminder/urls.py
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Env: Dev, Type: Userstory

#187 Merge 'feat/CCN3-721/master-summary' into 'develop'
  application/summary_page_data.py
  application/templates/master-summary.html
  application/views/declaration.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#186 feat/ccn3-1107/email-non-existing-application
  application/tests/tests_application/test_functional.py
  application/views/login/email.py
  application/views/magic_link.py
Labels: App: Backend, Priority: Medium, Type: Enhancement

#184 Merge 'feat/CCN3-1217/other-people' into 'develop'
  application/forms/other_people.py
  application/templates/other-people-children-question.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#192 Update change link content and date format on first aid summary
  application/summary_page_data.py
  application/table_util.py
  application/templates/first-aid-summary.html
  application/templates/generic-error-summary.html
  application/templates/generic-summary-template.html
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/tests/tests_validation/test_payment.py
  application/views/first_aid.py
  childminder/settings/base.py
Labels: App: Frontend

#190 Fix/update regex validation
  application/forms/contact_info.py
  application/tests/tests_validation/test_user_details.py
  application/views/contact_info.py
  childminder/settings/base.py
Labels: App: Frontend, Priority: High, Type: Bug, Type: Enhancement

#193 Fix/returned error summary
  application/views/contact_info.py
  application/views/first_aid.py
  application/views/login/email.py
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#195 Additional fixes for CCN3-1083
  application/views/other_people.py
  application/views/personal_details_home_address_manual.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#196 Change second reference 'Full name' to 'Name' on Master summary page
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#199 Add privacy notice footer
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Env: Dev

#201 Fix/update regex validation
  application/tests/tests_application/base.py
  application/tests/tests_application/test_functional.py
  application/views/declaration.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Bug

#203 Validate against string CVC instead of integer
  application/forms/payment.py
Labels: App: Backend, Env: Dev, Type: Bug

#205 hotfix/other-person-change-details
  application/business_logic.py
  application/templates/other_people_health_check/hospital_admission.html
  application/templates/other_people_health_check/hospital_admission_start.html
  application/templates/other_people_health_check/more_hospital_admissions.html
  application/templates/other_people_health_check/more_serious_illnesses.html
  application/views/declaration.py
  application/views/other_people.py
  application/views/payment.py
Labels: App: Backend, Priority: Critical, Status: Review Needed, Type: Bug

#206 feat/ccn3-1183/confirm-app-submission-email
  application/payment_service.py
  application/views/card_payment_details.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Enhancement

#208 Fix bug with multiple error fields displaying and no displayed error summary on e-mail page
  application/forms/childminder.py
  application/views/login/email.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#210 fix/CCN3-1180/remove-no-phone-link-3-attempts
  application/templates/verify-phone.html
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Userstory

#211 fix/start-data-validation
  application/customfields.py
  application/forms/other_person_health_check/hospital_admission.py
  application/forms/other_person_health_check/serious_illness.py
  application/templates/other_people_health_check/hospital_admission.html
  application/templates/other_people_health_check/serious_illness.html
  application/templates/other_people_health_check/summary.html
  application/views/other_people_health_check/declaration.py
  application/views/other_people_health_check/hospital_admission.py
  application/views/other_people_health_check/serious_illness.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Userstory

#209 Resolve accessibility testing findings
  application/templates/generic-summary-template.html
  application/templates/other_people_health_check/hospital_admission.html
  application/templates/other_people_health_check/serious_illness.html
Labels: App: Frontend, Env: Dev, Type: Enhancement

#212 Merge 'feat/CCN3-1239/personal-details-logic' into 'develop'
  application/templates/personal-details-childcare-address-lookup.html
  application/templates/personal-details-childcare-address-manual.html
  application/templates/personal-details-childcare-address.html
  application/templates/personal-details-dob.html
  application/templates/personal-details-home-address-lookup.html
  application/templates/personal-details-home-address-manual.html
  application/templates/personal-details-home-address.html
  application/templates/personal-details-location-of-care.html
  application/templates/personal-details-name.html
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/childcare_type.py
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory
