Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-03, with the labels that each got.

#39 Hotfix/master-summary-css-&-urls
  application/templates/declaration-summary.html
Labels: App: Frontend, Env: Stag, Priority: Medium, Type: Bug

#42 refactor task list
  Makefile
  application/migrations/0014_auto_20180309_1543.py
  application/templates/task-list.html
  application/views/__init__.py
  application/views/base.py
  application/views/task_list.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Refactor

#45 feat/css-changes
  application/templates/contact-email.html
  application/templates/contact-phone.html
  application/templates/contact-question.html
  application/templates/contact-summary.html
  application/templates/declaration-summary.html
  application/templates/health-booklet.html
  application/templates/other-people-adult-permission.html
  application/templates/personal-details-childcare-address.html
  application/templates/personal-details-home-address.html
  application/templates/references-first-reference-address.html
  application/templates/references-second-reference-address.html
  application/views/base.py
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend

#48 task list: add FURTHER_INFORMATION status
  application/templates/task-list.html
  application/views/task_list.py
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend, Priority: Low, Priority: Medium, Type: Feature

#49 feat/css-changes
  application/templates/childcare-guidance.html
  application/templates/childcare-register-CR-both.html
  application/templates/childcare-register-CR-compulsory.html
  application/templates/childcare-register-CR-voluntary.html
  application/templates/childcare-register-EYR-CR-both.html
  application/templates/childcare-register-EYR-CR-compulsory.html
  application/templates/childcare-register-EYR-CR-voluntary.html
  application/templates/childcare-register-EYR.html
  application/templates/first-aid-guidance.html
  application/templates/first-aid-training.html
  application/templates/health-intro.html
  application/templates/other-people-adult-details.html
  application/templates/other-people-guidance.html
  application/templates/payment-details.html
  application/templates/personal-details-childcare-address-lookup.html
  application/templates/personal-details-childcare-address-manual.html
  application/templates/personal-details-childcare-address.html
  application/templates/personal-details-guidance.html
  application/templates/personal-details-home-address-lookup.html
  application/templates/personal-details-home-address-manual.html
  application/templates/personal-details-home-address.html
  application/templates/personal-details-name.html
  application/templates/references-first-reference-address.html
  application/templates/references-intro.html
  application/templates/references-second-reference-address.html
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend, Env: Stag, Priority: High

#50 docker: fix wait while database will load
  Dockerfile
  docker-entrypoint.sh
Labels: Env: Dev, Env: Prod, Env: Stag, Priority: Medium, Type: Enhancement

#44 Merge feat/CCN3-622/declaration-payment into develop
  application/customfields.py
  application/forms.py
  application/migrations/0001_initial.py
  application/migrations/0002_arc_arccomments.py
  application/migrations/0002_eyfs.py
  application/migrations/0003_auto_20180124_1729.py
  application/migrations/0004_auto_20180126_1102.py
  application/migrations/0005_auto_20180126_1115.py
  application/migrations/0006_adultinhome_permission_declare.py
  application/migrations/0007_application_children_turning_16.py
  application/migrations/0008_remove_adultinhome_email.py
  application/migrations/0009_auto_20180130_1801.py
  application/migrations/0010_application_information_correct_declare.py
  application/migrations/0011_auto_20180212_0935.py
  application/migrations/0012_application_date_submitted.py
  application/migrations/0013_auditlog.py
  application/migrations/0014_auto_20180309_1543.py
  application/migrations/0015_auto_20180315_1201.py
  application/migrations/0016_auto_20180315_1206.py
  application/models.py
  application/templates/declaration-declaration.html
  application/templates/declaration-intro.html
  application/templates/declaration-summary.html
  application/templates/payment-details.html
  application/templates/payment.html
  application/test_functional.py
  application/test_views.py
  application/views/base.py
  childminder/urls.py
  db.json
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#51 Merge feat/CCN3-623/application-submission into develop
  application/forms.py
  application/templates/next-steps-documents.html
  application/templates/next-steps-home.html
  application/templates/next-steps-interview.html
  application/templates/payment-confirmation.html
  application/test_views.py
  application/views/base.py
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#54 Standardizing formatting of split out views, added classmethod decora…
  application/test_functional.py
  application/utils.py
  application/views/__init__.py
  application/views/account_selection.py
  application/views/application_saved.py
  application/views/base.py
  application/views/card_payment_details.py
  application/views/childcare_type.py
  application/views/contact_info.py
  application/views/contact_question.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/declaration_declaration.py
  application/views/documents_needed.py
  application/views/eyfs.py
  application/views/first_aid.py
  application/views/health.py
  application/views/home_ready.py
  application/views/other_people.py
  application/views/payment.py
  application/views/payment_selection.py
  application/views/personal_details.py
  application/views/personal_details_home_address_manual.py
  application/views/prepare_for_interview.py
  application/views/references.py
  application/views/task_list.py
Labels: Type: Refactor

#55 refactor: split python depedencies for dev
  Dockerfile
  requirements.dev.txt
  requirements.txt
Labels: Env: Dev, Priority: Low, Type: Refactor

#56 refactor: test: functional: add summary pages
  application/test_functional.py
Labels: App: Backend, Env: Dev, Env: Prod, Env: Stag, Priority: High, Type: Bug

#59 Feat/returned app
  application/forms.py
  application/notify.py
  application/views/contact_info.py
  application/views/other_people.py
  application/views/payment.py
  application/views/personal_details.py
  logs/.gitkeep
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Feature

#61 refactor: split model
  application/models.py
  application/models/__init__.py
  application/models/adult_in_home.py
  application/models/applicant_home_address.py
  application/models/applicant_name.py
  application/models/applicant_personal_details.py
  application/models/application.py
  application/models/arc.py
  application/models/arc_comments.py
  application/models/base.py
  application/models/child_in_home.py
  application/models/childcare_type.py
  application/models/criminal_record_check.py
  application/models/eyfs.py
  application/models/firstaid_training.py
  application/models/health_declaration_booklet.py
  application/models/reference.py
  application/models/user_details.py
  application/utils.py
  application/views/account_selection.py
  application/views/card_payment_details.py
  application/views/payment.py
  application/views/task_list.py
Labels: App: Backend, Type: Refactor

#62 feat/generic-template-refactoring
  application/forms.py
  application/summary_page_data.py
  application/table_util.py
  application/templates/awaiting-review.html
  application/templates/dbs-check-summary.html
  application/templates/generic-error-summary.html
  application/templates/generic-summary-template.html
  application/views/base.py
  application/views/contact_info.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/declaration_declaration.py
  application/views/first_aid.py
  application/views/health.py
  application/views/other_people.py
  application/views/personal_details.py
  application/views/references.py
  db.json
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend, Priority: High, Type: Feature

#63 Fix update email bug, and some minor model updates
  application/migrations/0001_initial.py
  application/migrations/0002_auto_20180322_1946.py
  application/models/arc_comments.py
  application/models/base.py
  application/views/contact_info.py
  application/views/personal_details.py
Labels: Status: Review Needed, Type: Bug

#66 add missing application_id field
  application/business_logic.py
  application/migrations/0001_initial.py
  application/models/applicant_home_address.py
  application/models/applicant_name.py
  application/summary_page_data.py
  application/templates/childcare-guidance.html
  application/templates/generic-summary-template.html
  application/test_business_logic.py
  application/views/contact_info.py
  application/views/personal_details.py
Labels: Priority: High, Type: Refactor

#67 feat/ccn3-760/ey-registers
  application/templates/cancellation-guidance.html
  application/templates/childcare-age-groups.html
  application/templates/local-authority.html
  application/views/childcare_type.py
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: High

#72 fix django debug toolbar for docker
  childminder/settings/dev.py
Labels: App: Backend, Env: Dev

#71 feat/ccn3-750/application-print-out
  application/templates/master-summary.html
  application/templates/payment-confirmation.html
  application/templates/print-declaration-summary.html
  application/views/__init__.py
  application/views/declaration.py
  application/views/payment.py
  application/views/print_handler.py
  childminder/urls.py
  govuk_template/static/stylesheets/base.css
  govuk_template/static/stylesheets/govuk-template-print.css
Labels: App: Frontend, Env: Dev, Priority: Medium
