Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-11, with the labels that each got.

#484 fix/CCN3-1746/returned-health-application-skips-hospital-admissions-page
  application/views/other_people_health_check/dob_auth.py
  application/views/other_people_health_check/serious_illness.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#485 fix/CCN3-1776/seperate_full_stop_from_email_link
  application/templates/other_people_health_check/thank_you_abroad.html
  application/templates/other_people_health_check/thank_you_dbs_abroad.html
Labels: App: Frontend, Env: Dev, Priority: Low, Status: Review Needed, Type: Content

#487 fix/CCN3-1746/returned-health-application-skips-hospital-admissions-page
  application/views/other_people_health_check/dob_auth.py
  application/views/other_people_health_check/guidance.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed

#488 fix/CCN3-1746/returned-health-application-skips-hospital-admissions-page
  application/views/other_people_health_check/current_treatment.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Enhancement

#489 fix/CCN3-1881/CM_summary_content_fix -> fix/CCN3-1881/CM_summary_content_fix
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#493 Feat/ccn3 1909/split users public beta
  application/forms/__init__.py
  application/forms/your_location.py
  application/templates/start-page.html
  application/templates/your-location.html
  application/views/login/__init__.py
  application/views/login/your_location.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content, Type: Feature

#494 fix/CCN3-1909/split-users-private-beta
  application/forms/your_location.py
  application/views/login/your_location.py
Labels: App: Frontend, Priority: Low, Status: Review Needed, Type: Content

#496 fix/CCN3-1916/CM-missing-info-on-thank-you-for-reapplying-email
  application/views/declaration.py
  application/views/magic_link.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#497 fix/CCN3-1919/update-ccr-and-vcr-emails
  application/templates/payment-confirmation-dbs-only.html
  application/templates/payment-confirmation-health-dbs.html
  application/templates/payment-confirmation-lived-abroad.html
  application/templates/payment-confirmation-no-documents.html
  application/views/payment.py
Labels: App: Backend, App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#498 Feat/ccn3 1911/adding applicant email survery
  application/views/other_people_health_check/thank_you.py
  application/views/payment.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Feature

#500 Feat/ccn3 1909/split users public beta
  childminder/urls.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Enhancement

#502 fix/CCN3-1921/postcode-data-field
  application/migrations/0047_auto_20181115_0950.py
  application/models/previous_address.py
Labels: App: Backend, Priority: High, Type: Enhancement

#504 fix/trello-97/adult-health-questions-creates-duplicate-records
  application/views/other_people_health_check/serious_illness.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Help Wanted, Status: Review Needed, Type: Bug, Type: Enhancement

#505 fix/trello-138/fixed-changing-childcare-type-not-changing-training
  application/views/childcare_type.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#506 fix/trello-116/your-children-personal-details-flagging
  application/views/personal_details.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Enhancement

#509 fix/merge-migrations
  application/migrations/0049_merge_20181119_1024.py
Labels: App: Backend, Env: Dev, Priority: Critical, Status: Review Needed

#508 fix/trello-134/no-sign-out-link-on-payment-success-page
  application/views/payment.py
Labels: Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#510 fix/trello-141/no-cost-on-payment-confirmation-when-form-validation-fails
  application/views/card_payment_details.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug, Type: Enhancement

#511 fix/CCN3-1911/removed survey email link from CM
  application/views/payment.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Feature

#512 fix/trello#134/missing-sign-out-link-on-returned-application
  application/views/base.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#519 fix/trello#145/fixed-error-where-declaration-not-revealed
  application/views/task_list.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug
