Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-10, with the labels that each got.

#438 CCN3-1866 - Your Children Address logic refinements
  application/views/your_children.py
Labels: App: Backend

#442 CCN3-1837: Updates to master summary page
  application/templates/master-summary.html
  application/views/PITH_views/PITH_own_children_details.py
  application/views/dbs.py
  application/views/declaration.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug, Type: Userstory

#443 fix/CCN3-1708/remove-brackets
  application/views/PITH_views/PITH_children_details.py
  application/views/PITH_views/PITH_own_children_details.py
  application/views/other_people.py
  application/views/your_children.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#444 Add revised logic for children address details
  application/tests/tests_application/test_your_children.py
  application/views/your_children.py
Labels: App: Backend

#446 CCN3-1837: Add if statements to show/hide tables
  application/templates/master-summary.html
  application/views/declaration.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#448 feat/CCN3-1786/children-in-the-home-details-fixes
  application/templates/PITH_templates/PITH_own_children_details.html
  application/views/PITH_views/PITH_children_check.py
  application/views/PITH_views/PITH_children_details.py
  application/views/PITH_views/PITH_own_children_check.py
  application/views/PITH_views/PITH_own_children_details.py
  application/views/other_people.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#450 fix/CCN3-1867/guidance-for-people-in-the-home
  application/templates/PITH_templates/PITH_abroad_criminal.html
  application/templates/PITH_templates/PITH_post.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#451 feat/CCN3-1786/children-in-the-home
  application/templates/generic-summary-template.html
  application/templatetags/people_in_your_home.py
  application/views/PITH_views/PITH_own_children_check.py
  application/views/other_people.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#447 feat/ccn3-1787/people-in-home-flagging
  application/forms/PITH_forms/PITH_DBS_check_form.py
  application/forms/PITH_forms/PITH_base_forms/PITH_childminder_form_retrofit.py
  application/forms/PITH_forms/PITH_base_forms/PITH_form_view_form.py
  application/forms/PITH_forms/PITH_base_forms/PITH_multi_radio_form.py
  application/views/PITH_views/PITH_children_details.py
  application/views/PITH_views/PITH_lived_abroad.py
  application/views/PITH_views/PITH_military.py
  application/views/PITH_views/PITH_own_children_details.py
  application/views/PITH_views/base_views/PITH_multi_radio_view.py
Labels: App: Backend, App: Frontend, Priority: High, Type: Feature

#452 CCN3-1837: Fix if statement to show your children tables
  application/templates/master-summary.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#453 CCN3-1812: People in the home content changes
  application/templates/next-steps-home.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Content

#455 fix/CCN3-1797/Content-change-on-abroad-criminal-records-check
  application/templates/PITH_templates/PITH_abroad_criminal.html
  application/templates/dbs-good-conduct.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#457 CCN3-1815: Fix form field widths
  application/templates/PITH_templates/PITH_own_children_details.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#459 fix/CCN3-1873/update-task-list-to-conform-with-accessibility-recommendations
  application/static/stylesheets/custom.css
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#464 merge/back-merge-release-1.2.1
  application/static/stylesheets/custom.css
  application/templates/other_people_health_check/hospital_admission.html
  application/templates/other_people_health_check/serious_illness.html
Labels: App: Backend, App: Frontend, Priority: High

#462 fix/CCN3-1875/update-thank-you-for-applying-emails
  application/views/payment.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Content

#465 fix/CCN3-1872/update-text-on-sign-in-confirm-your-answers
  application/templates/no-link-summary-template.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Content

#466 business_logic.py: Set lives_with_childminder to False.
  application/business_logic.py
Labels: Type: Bug

#467 fix/trello-121/error-page-on-resend-emails-PITH
  application/forms/PITH_forms/PITH_DBS_check_form.py
  application/templates/generic-summary-template.html
  application/views/other_people.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#470 Fix people_in_the_home status being reset even once task is 'Done'.
  application/views/PITH_views/PITH_own_children_manual.py
  application/views/PITH_views/PITH_own_children_postcode.py
  application/views/PITH_views/PITH_own_children_select.py
  application/views/PITH_views/base_views/PITH_multi_radio_view.py
  application/views/PITH_views/base_views/PITH_radio_view.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Bug

#473 fix/CCN3-1839/update-start-page-before-workshop
  application/templates/start-page.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Content

#475 CCN3-1900: Update start page content
  application/templates/start-page.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content, Type: Userstory

#477 CCN3-1776: Updating thank you views and emails for household members
  application/notify.py
  application/templates/other_people_health_check/thank_you_abroad.html
  application/templates/other_people_health_check/thank_you_dbs.html
  application/templates/other_people_health_check/thank_you_dbs_abroad.html
  application/templates/other_people_health_check/thank_you_neither.html
  application/views/other_people_health_check/thank_you.py
  logs/output.log
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Feature

#479 CCN3-1900: Remove 's' from start page
  application/templates/start-page.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#481 fix/CCN3-1876/update-costs-email
  application/views/payment.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#480 fix/CCN3-1880/payment-expiry-date
  application/customfields.py
  application/forms/payment.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed

#483 CCN3-1776: Fixed names in emails to be correct forename/surname appearance
  application/templates/other_people_health_check/thank_you_abroad.html
  application/templates/other_people_health_check/thank_you_dbs_abroad.html
  application/views/other_people_health_check/thank_you.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Content

#482 CCN3-1903: Add question about whether the PIH are known to the local council
  application/forms/other_person_health_check/local_authorities.py
  application/migrations/0045_auto_20181023_1536.py
  application/migrations/0046_merge_20181026_1523.py
  application/models/adult_in_home.py
  application/templates/other_people_health_check/local_authorities.html
  application/templates/other_people_health_check/summary.html
  application/views/other_people_health_check/local_authorities.py
  application/views/other_people_health_check/summary.py
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Feature
