Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-04, with the labels that each got.

#77 Makefile: add APP settings var
  .makerc
  Makefile
Labels: Env: Dev, Type: Enhancement

#74 fix/summary-ordered-dictionaries
  application/summary_page_data.py
  application/templates/payment-confirmation.html
  application/views/childcare_type.py
  application/views/contact_info.py
  application/views/first_aid.py
  application/views/health.py
  application/views/other_people.py
  application/views/personal_details.py
  application/views/references.py
Labels: App: Frontend, Env: Stag, Priority: High, Type: Bug

#79 Fixed references flagging error, moved forms to seperate directory an…
  application/forms/__init__.py
  application/forms/childminder.py
  application/forms/form.py
  application/views/references.py
  db.json
Labels: Type: Bug, Type: Refactor

#80 Makefile: rebase: fix previous branch checkout bug
  Makefile
Labels: Priority: High

#83 feat/user-to-application-keys
  application/business_logic.py
  application/forms/form.py
  application/middleware.py
  application/models/application.py
  application/models/user_details.py
  application/tests/test_business_logic.py
  application/tests/test_functional.py
  application/tests/test_views.py
  application/views/account_selection.py
  application/views/card_payment_details.py
  application/views/contact_info.py
  application/views/contact_question.py
  application/views/declaration.py
Labels: App: Backend, Env: Stag, Priority: High

#86 master-summary.html: add title logic depending on print variable
  application/templates/master-summary.html
Labels: App: Frontend, Env: Stag, Priority: Medium, Type: Enhancement

#88 update fixtures
  db.json
Labels: App: Backend, Priority: High

#89 security_question: fixed login_id error breaking magic link security …
  application/security_question.py
Labels: App: Backend

#91 personal_details.py: fixed sql error when loading applicant home addr…
  application/views/personal_details.py
Labels: App: Backend, Priority: Critical

#93 add .gitattributes
  .gitattributes
Labels: Env: Dev

#95 fix CRLF->LF
  application/templates/application-accepted.html
  application/templates/awaiting-review.html
  application/views/costs.py
Labels: App: Backend

#92 Feat/731/cancel app
  application/templates/cancel-application-confirmation.html
  application/templates/cancel-application.html
  application/templates/cr-cancel-application-confirmation.html
  application/templates/cr-cancel-application.html
  application/templates/local-authority.html
  application/templates/task-list.html
  application/tests/test_functional.py
  application/utils.py
  application/views/__init__.py
  application/views/cancel_application.py
  application/views/childcare_type.py
  application/views/local_authority.py
  application/views/task_list.py
  childminder/urls.py
Labels: App: Backend, App: Frontend

#97 contact_info.py: fixed broken valiation messages when entering email
  application/views/contact_info.py
Labels: App: Backend

#100 correct cr workflow for cancellation, remove dangling files
  application/templates/cancellation-guidance.html
  application/templates/local-authority.html
  application/views/childcare_type.py
Labels: App: Frontend, Env: Stag, Priority: Critical

#103 Add dynamic text values for resubmission consent
  application/forms/form.py
  application/migrations/0002_application_display_contact_details_on_web.py
  application/models/application.py
  application/templates/declaration-declaration.html
  application/views/__init__.py
  application/views/declaration.py
  application/views/declaration_declaration.py
Labels: App: Frontend

#108 fixed functional tests for new login journey
  application/tests/test_functional.py
  application/views/login/email.py
Labels: Type: Tests

#113 Prevent reuse of email validation link for a new user
  application/magic_link.py
Labels: Priority: Medium, Status: Review Needed, Type: Bug

#112 Refactor/forms
  application/forms/__init__.py
  application/forms/childcare_type.py
  application/forms/contact_info.py
  application/forms/dbs.py
  application/forms/declaration.py
  application/forms/eyfs.py
  application/forms/first_aid.py
  application/forms/form.py
  application/forms/hbd.py
  application/forms/magic_link.py
  application/forms/other_people.py
  application/forms/payment.py
  application/forms/personal_details.py
  application/forms/personal_details_address.py
  application/forms/personal_details_childcare.py
  application/forms/references.py
  application/forms/security_question.py
  application/tests/test_functional.py
  application/tests/test_views.py
  application/views/contact_info.py
  application/views/login/email.py
  application/views/magic_link.py
  application/views/security_question.py
  childminder/urls.py
Labels: Type: Refactor, Type: Tests

#115 Fix link when returning from help page
  application/templates/costs-guidance.html
  application/templates/help-and-advice.html
  application/tests/test_selenium.py
  application/utils.py
Labels: App: Frontend, Env: Dev, Priority: High, Type: Bug

#116 fix/sms-form-validation-errors
  application/forms/magic_link.py
  application/views/magic_link.py
Labels: App: Backend, App: Frontend, Type: Bug, Type: Enhancement

#119 feat/ccn3-898/update-validation-messages-login-journey
  application/forms/account_selection.py
  application/forms/contact_info.py
  application/forms/magic_link.py
  application/forms/security_question.py
  application/templates/security-question.html
  application/views/security_question.py
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Userstory

#118 Merge feat/CCN3-833/limit-flagged into develop
  application/templates/generic-error-summary.html
  application/templates/task-list.html
  application/tests/test_selenium.py
  application/views/task_list.py
  govuk_template/static/stylesheets/base.css
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Feature

#120 personal_details_childcare.py: add correct model instance pk
  application/forms/personal_details_childcare.py
Labels: App: Backend, Priority: High, Type: Bug

#123 fix/get_security_question
  application/views/security_question.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#122 Update README.md
  README.md
Labels: App: Frontend, Priority: Low
