Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-09, with the labels that each got.

#376 fix/CCN3-1685/health-guidance-content
  application/templates/health-intro.html
Labels: App: Frontend, Priority: High, Type: Content

#377 fix/CCN3-1686/declaration-redirect
  application/views/declaration.py
Labels: App: Backend, Priority: High, Type: Bug

#381 fix/ccn3-1531/childcare-training-fixes
  application/templates/childcare-training-guidance.html
Labels: App: Frontend, Priority: High, Type: Content

#379 feat/CCN3-1666/update-dbs-task
  application/business_logic.py
  application/fixtures/adult_in_home.json
  application/fixtures/submitted_app_household_member.json
  application/fixtures/test_returned_application.json
  application/forms/dbs.py
  application/migrations/0025_auto_20180823_1607.py
  application/migrations/0026_auto_20180828_0938.py
  application/migrations/0032_merge_20180903_1133.py
  application/models/criminal_record_check.py
  application/summary_page_data.py
  application/templates/dbs-check-capita.html
  application/templates/dbs-check-dbs-details.html
  application/templates/dbs-check-guidance.html
  application/templates/dbs-check-summary.html
  application/templates/dbs-check-upload-dbs.html
  application/templates/dbs-email-certificates.html
  application/templates/dbs-get.html
  application/templates/dbs-good-conduct.html
  application/templates/dbs-guidance.html
  application/templates/dbs-lived-abroad.html
  application/templates/dbs-military.html
  application/templates/dbs-ministry-of-defence.html
  application/templates/dbs-post.html
  application/templates/dbs-type.html
  application/templates/dbs-update.html
  application/templates/master-summary.html
  application/templates/return-to-list.html
  application/templatetags/alt_text_extras.py
  application/tests/tests_application/base.py
  application/tests/tests_application/test_criminal_record_checks.py
  application/tests/tests_application/test_functional.py
  application/tests/tests_business_logic/test_dbs_check_logic.py
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/tests/tests_views/test_dbs_check.py
  application/tests/tests_views/view_parent.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/magic_link.py
  application/views/print_handler.py
  application/views/task_list.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#382 childcare-training-type.html: Remove capitalisation of title.
  application/templates/childcare-training-type.html
Labels: App: Frontend, Priority: High, Type: Content

#386 fix/CCN3-1382/remove-change-email-buttons
  application/business_logic.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Bug

#389 feat/CCN3-1666/update-dbs-task
  application/views/dbs.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Feature

#390 fix/CCN3-1439/household-link-expired
  application/views/other_people.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#391 feat/CCN3-1687/confirmation-pages-emails
  application/business_logic.py
  application/payment_service.py
  application/templates/payment-confirmation-dbs-only.html
  application/templates/payment-confirmation-health-dbs.html
  application/templates/payment-confirmation-lived-abroad.html
  application/templates/payment-confirmation-no-documents.html
  application/views/card_payment_details.py
  application/views/childcare_type.py
  application/views/payment.py
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#392 CCN3-1766: Fix missing home address display and error message
  application/forms/personal_details_address.py
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#393 CCN3-1689 typo fix
  application/templates/health-booklet.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#394 feat/CCN3-1687/confirmation-email-pages
  application/templates/payment-confirmation-health-dbs.html
Labels: App: Frontend, Priority: Medium, Status: Review Needed, Type: Content

#397 Trello #107: Reset declaration when the flagged Childcare training task is updated
  application/views/childcare_training.py
Labels: App: Frontend, Env: Stag, Priority: High, Status: Review Needed, Type: Bug

#396 CCN3-1561: Updates to Your personal details task
  application/forms/personal_details_childcare.py
  application/migrations/0033_application_working_in_other_childminder_home.py
  application/migrations/0034_auto_20180906_1645.py
  application/migrations/0035_auto_20180906_1650.py
  application/migrations/0036_application_own_children.py
  application/migrations/0037_auto_20180911_1130.py
  application/migrations/0038_arc_your_children_review.py
  application/models/application.py
  application/models/arc.py
  application/summary_page_data.py
  application/templates/master-summary.html
  application/templates/personal-details-childcare-address-details.html
  application/templates/personal-details-your-own-children.html
  application/tests/tests_application/test_personal_details.py
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/tests/tests_views/test_personal_details.py
  application/tests/tests_views/test_task_list.py
  application/tests/tests_views/view_parent.py
  application/views/declaration.py
  application/views/personal_details.py
  application/views/task_list.py
  childminder/urls.py
  logs/.gitkeep
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#398 CCN3-1561: Fix for when there is no existing Arc object
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#399 CCN3-1561: Fix if statement to display Your children task
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#400 fix/CCN3-1709/fix-content-on-DBS-only
  application/templates/payment-confirmation-dbs-only.html
Labels: Priority: Medium, Status: Review Needed, Type: Bug, Type: Content

#401 CCN3-1561: Fix column reference typo
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#403 fix/CCN3-1633/contacted-adults-in-the-home
  application/templates/other-people-email-confirmation.html
Labels: Priority: Medium, Status: Review Needed, Type: Content

#410 fix/CCN3-1785/dbs-css-fix
  application/forms/PITH_forms/PITH_DBS_check_form.py
Labels: App: Backend, Priority: High, Status: Review Needed, Type: Bug

#402 CCN3-1561: Content bug fixes
  .gitignore
  application/forms/personal_details_childcare.py
  application/tests/tests_application/base.py
  application/tests/tests_application/test_functional.py
  application/views/personal_details.py
  logs/output.log
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#409 fix/CCN3-1617/update-content-for-children-turning-16
  application/templates/other-people-approaching-16.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#411 fix/CCN3-1583/enter-date-of-birth-content-changes
  application/templates/other_people_health_check/dob_auth.html
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#407 fix/CCN3-1619/postcode-field-case-sensitive-when-resetting-password
  application/forms/security_question.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#414 fix/CCN3-1617/update-content-for-children-turning-16
  application/templates/other-people-approaching-16.html
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#413 CCN3-1561: Fix issue with People in the home task being set to Done
  application/summary_page_data.py
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#415 CCN3-1561: Set own_children to False if childcare address is same as home address
  application/table_util.py
  application/views/personal_details.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#412 fix/no-phone-security-question
  application/views/security_question.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#417 fix/CCN3-1583/enter-date-of-birth
  application/templates/other_people_health_check/dob_auth.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#418 fix/CCN3-1853/CM-update-content-in-HDB-task
  application/templates/health-booklet.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#423 fix/CCN3-1702/update-guidance-page-content
  application/templates/dbs-guidance.html
Labels: App: Frontend, Priority: High, Status: Review Needed, Type: Content

#426 fix/CCN3-1617/update-content-for-children-turning-16
  application/templates/other-people-approaching-16.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#431 Feat/ccn3 1866/your children arc flagging
  application/forms/your_children.py
  application/migrations/0041_auto_20180921_1314.py
  application/models/arc_comments.py
  application/summary_page_data.py
  application/tests/tests_application/test_your_children.py
  application/utils.py
  application/views/your_children.py
Labels: App: Backend, App: Frontend

#433 fix/CCN3-1868/fix-mail-link-on-CRC
  application/templates/PITH_templates/PITH_abroad_criminal.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Content

#435 fix/merge-migrations-042
  application/migrations/0043_merge_20180927_1711.py
Labels: App: Backend, Priority: Medium

#436 fix/CCN3-1806/your-own-children-address-postcode-bug
  application/views/PITH_views/PITH_own_children_select.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#437 Fix error on children in the home details page
  application/views/PITH_views/PITH_children_details.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug
