Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-07, with the labels that each got.

#273 fix/CCN3-1319/eyfs-status-task-update
  application/templates/eyfs-certificate.html
Labels: App: Frontend, Priority: Medium, Type: Bug

#274 Fix/ccn3 1380/type of childcare
  application/business_logic.py
  application/tests/tests_business_logic/test_childcare_type_logic.py
  application/utils.py
  application/views/childcare_type.py
  application/views/task_list.py
Labels: App: Backend

#275 CCN3-1421: Refactoring of health check email resend logic
  application/business_logic.py
  application/tests/tests_business_logic/test_people_in_your_home_logic.py
  application/views/other_people.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Refactor, Type: Tests

#276 CCN3-1458: Early years training content updates
  application/templates/eyfs-certificate.html
  application/templates/eyfs-details.html
  application/templates/eyfs-guidance.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#277 Exempt Feedback page URL from authentication
  childminder/settings/build.py
  childminder/settings/dev.py
  childminder/settings/prod.py
  childminder/settings/test.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#278 Fix/ccn3 1316/household member dbs numbers
  application/business_logic.py
  application/forms/dbs.py
  application/forms/other_people.py
  application/tests/tests_business_logic/test_dbs_check_logic.py
  application/utils.py
  application/views/other_people.py
Labels: App: Backend

#279 feat/ccn3-1320/resubmission-email
  application/views/declaration.py
  application/views/magic_link.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Feature

#280 CCN3-1229: Set DEV/BUILD feedback email to test email
  childminder/settings/base.py
  childminder/settings/prod.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#289 Fix issue where Your sign in details task is not set to Done
  application/templates/no-link-summary-template.html
  application/views/contact_info.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#290 Fix: accessing task list only when Your personal details task is completed
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#291 Merge/sprint 16 feature merge
  application/fixtures/submitted_app_household_member.json
  application/forms/feedback.py
  application/templates/contact-email.html
  application/templates/contact-phone.html
  application/templates/contact-summary.html
  application/templates/eyfs-certificate.html
  application/templates/feedback-confirmation.html
  application/templates/generic-error-summary.html
  application/templates/generic-summary-template.html
  application/templates/health-summary.html
  application/templates/link-expired.html
  application/templates/no-link-summary-template.html
  application/templates/other-people-resend-email.html
  application/templates/payment-confirmation.html
  application/tests/tests_application/test_feedback.py
  application/tests/tests_business_logic/test_login_logic.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/childcare_type.py
  application/views/contact_info.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/eyfs.py
  application/views/feedback.py
  application/views/first_aid.py
  application/views/health.py
  application/views/magic_link.py
  application/views/other_people.py
  application/views/personal_details.py
  application/views/references.py
  application/views/task_list.py
  childminder/settings/base.py
  childminder/settings/build.py
  childminder/settings/dev.py
  childminder/settings/prod.py
  childminder/settings/test.py
  childminder/urls.py
Labels: App: Backend, Env: Dev, Priority: Critical

#292 Fix content issue on link expired page
  application/templates/link-expired.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#293 Fix/ccn3 1316/content updates
  application/forms/dbs.py
  application/forms/other_people.py
  application/tests/tests_business_logic/test_dbs_check_logic.py
Labels: App: Backend

#294 fix/ccn3-1319/remove-link-eyfs-certificate
  application/templates/eyfs-certificate.html
Labels: App: Frontend, Priority: High, Type: Bug

#295 Fix previous URL not being passed to Feedback confirmation page after submitting invalid feedback first
  application/views/feedback.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#297 Update to DBS check logic
  application/business_logic.py
  application/forms/dbs.py
  application/forms/other_people.py
  application/tests/tests_application/test_functional.py
  application/tests/tests_application/test_payment.py
  application/tests/tests_business_logic/test_dbs_check_logic.py
  application/views/login/account_selection.py
Labels: App: Backend

#301 Include email in initial page summary for other people in home
  application/views/other_people.py
Labels: App: Backend, App: Frontend, Env: Dev, Type: Bug

#300 fix/CCN3-1470/mobile-number-regex
  application/tests/tests_validation/test_user_details.py
  childminder/settings/base.py
Labels: App: Frontend, Priority: Medium, Type: Bug

#299 fix/CCN3-1472/resend-email-remove-line
  application/templates/resend-email.html
Labels: App: Frontend, Priority: Medium, Type: Bug

#298 fix/CCN3-1497/security-code-typo
  application/templates/resend-security-code.html
Labels: App: Frontend, Priority: Medium

#302 fix/CCN3-1432/references-duplicate-email
  application/business_logic.py
  application/forms/references.py
  application/tests/tests_validation/test_user_details.py
Labels: App: Backend, Priority: Medium, Type: Bug, Type: Tests

#304 fix/CCN3-1432/references-duplicate-email
  application/business_logic.py
  application/forms/references.py
  application/tests/tests_validation/test_user_details.py
Labels: App: Backend, Priority: Medium, Type: Bug, Type: Tests

#307 Prevent declaration status update from being overwritten
  application/views/payment.py
Labels: App: Backend, Env: Dev, Priority: Low, Type: Bug

#306 fix/CCN3-1342/applicant-email-update-checks-references
  application/business_logic.py
  application/forms/contact_info.py
  application/forms/references.py
  application/views/login/email.py
Labels: App: Backend, Priority: Medium, Type: Bug

#310 fix/trello-65/error-on-confirm-home-summary
  application/views/other_people.py
Labels: App: Backend, Priority: Medium, Type: Bug

#309 fix/CCN3-1344/external-links-in-new-tab
  govuk_template/templates/base.html
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Priority: Medium, Type: Bug

#308 fix/CCN3-1470/mobile-number-regex
  application/tests/tests_validation/test_user_details.py
  childminder/settings/base.py
Labels: App: Backend, Priority: Medium, Type: Bug, Type: Tests

#311 Add links to authentication exempt urls
  application/views/prepare_for_interview.py
  childminder/settings/build.py
  childminder/settings/dev.py
  childminder/settings/prod.py
  childminder/settings/test.py
Labels: App: Backend

#315 Fix/CCN3-1344/external-links-in-new-tab
  govuk_template/templates/base.html
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Priority: Medium, Type: Bug

#323 CCN3-1499: Content change on Type of childcare summary page
  application/summary_page_data.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Userstory

#324 CCN3-1577: Updated content for returned health check email
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#326 CCN3-1577: Use People in home flagged column in logic
  application/views/other_people.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#325 CCN3-1579: Update ARC comments field length in database to 250
  application/migrations/0021_auto_20180727_1400.py
  application/models/arc_comments.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#328 CCN3-1577 bug: Fix resend email logic
  application/business_logic.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug
