Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2018-06, with the labels that each got.

#213 Update status of health check and other content changes
  application/forms/dbs.py
  application/forms/declaration.py
  application/forms/other_people.py
  application/templates/declaration-declaration.html
  application/templates/eyfs-details.html
  application/templates/eyfs-guidance.html
  application/templates/generic-summary-template.html
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/childcare_type.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/other_people.py
Labels: App: Backend, App: Frontend, Env: Dev, Type: Feature

#214 Merge 'feat/CCN3-1311/children-in-home' into 'develop'
  application/templates/other-people-children-question.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#216 Feat/ccn3 1127 confirmation page
  .coverage
  application/migrations/0017_application_reference_number.py
  application/models/application.py
  application/payment_service.py
  application/templates/next-steps-documents.html
  application/templates/next-steps-home.html
  application/templates/next-steps-interview.html
  application/templates/payment-confirmation.html
  application/tests/tests_application/test_functional.py
  application/views/card_payment_details.py
  application/views/declaration.py
  application/views/documents_needed.py
  application/views/home_ready.py
  application/views/payment.py
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Feature

#218 Fix CCN3-1127 HTML issues
  application/templates/next-steps-documents.html
  application/templates/next-steps-home.html
  application/templates/next-steps-interview.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Bug

#219 Update Ofsted Next steps email sent timestamp upon submission
  application/views/payment.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#220 Replace phone with Ofsted pilot email (CCN3-1294)
  application/templates/help-and-contact.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#223 Remove Ofsted next steps e-mail timestamp sent at submission
  application/views/payment.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#222 Feat/selenium tests performance improvements
  .gitignore
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: App: Backend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Enhancement

#226 Add logic to retrieve childcare address in master summary
  application/views/declaration.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#227 Fix logic to retrieve childcare address record following new workflow
  application/views/personal_details.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#228 Update declaration page error messages
  application/forms/declaration.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#231 Pass empty childcare address if no record available in database
  application/views/declaration.py
  application/views/personal_details.py
Labels: App: Backend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#232 Only allow access to task list once Your personal details task is fully complete
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/task_list.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#234 Fix unresolved conflicts in HTML
  application/templates/payment-confirmation.html
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#233 Merge 'feat/CCN3-1229/feedback' into 'develop'
  application/forms/__init__.py
  application/forms/feedback.py
  application/templates/existing-application.html
  application/templates/feedback.html
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/views/feedback.py
  childminder/urls.py
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#235 Bugfix/update time known validation
  application/customfields.py
  application/forms/references.py
  application/tests/tests_validation/test_user_details.py
  childminder/settings/base.py
Labels: Priority: High, Type: Bug, Type: Feature

#237 Add correct PDF for leaflet on household member declaration page
  application/static/Background checks if you live or work with a childminder.pdf
  application/static/Household members information on background checks.pdf
  application/templates/other_people_health_check/declaration.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#238 CCN3-1242: Returned household member health check
  application/templates/task-list.html
  application/views/other_people_health_check/thank_you.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Status: Review Needed, Type: Userstory

#239 Update selenium tests
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: App: Backend, Env: Dev

#240 Add a parameter for feedback email
  application/views/feedback.py
  childminder/settings/base.py
Labels: App: Backend, Env: Dev, Type: Enhancement

#241 Bugfix/update time known validation
  application/forms/references.py
Labels: Priority: Critical, Type: Bug

#242 Updated regex to allow correct phone validation
  childminder/settings/base.py
Labels: Type: Bug

#243 add previous registration model to childminder
  application/migrations/0018_application_reference_number.py
  application/models/__init__.py
  application/models/other_person_previous_registration_details.py
Labels: App: Backend

#244 Handle routing after validation has been flagged for feedback
  application/views/feedback.py
Labels: App: Backend

#246 add in references status field
  application/migrations/0020_nannyapplication_references_status.py
  application/models/nanny_application.py
Labels: App: Backend

#247 Fix/private beta content changes
  childminder/settings/base.py
  childminder/settings/build.py
  childminder/settings/dev.py
  childminder/settings/prod.py
  childminder/settings/test.py
  govuk_template/templates/govuk_template.html
Labels: Env: Prod, Priority: Critical, Type: Refactor

#248 Remove feedback test
  application/tests/tests_selenium/test_apply_as_a_childminder.py
Labels: App: Backend

#249 Handle empty reference table
  application/application_reference_generator.py
Labels: App: Backend

#250 Correct href tag to prevent xss being possible
  application/templates/email-sent.html
Labels: App: Frontend

#251 Refactor Google Analytics settings
  childminder/settings/base.py
  childminder/settings/build.py
  childminder/settings/dev.py
  childminder/settings/prod.py
  childminder/settings/test.py
Labels: App: Backend, Priority: Medium

#252 Removed the two lines
  application/templates/contact-phone.html
Labels: Type: Refactor

#253 Fix/ccn3 1387/update check email page
  application/templates/email-sent.html
  application/views/login/email.py
Labels: Type: Bug, Type: Refactor

#255 Content Updates for children in your home
  application/templates/other-people-children-question.html
Labels: Type: Userstory

#258 Content updates for household members declaration
  application/templates/other_people_health_check/declaration.html
Labels: App: Frontend

#259 Fix/ccn3 1399/update content sign in pages
  application/forms/contact_info.py
  application/templates/contact-email.html
  application/templates/contact-phone.html
Labels: App: Frontend

#254 stops the possibility of adding two people with same email addresss
  application/forms/other_people.py
  application/views/other_people.py
Labels: Priority: Medium, Type: Enhancement

#260 Set People in home status to Waiting for resent emails for flagged adults
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#261 Content update to scentence
  application/templates/other-people-children-question.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#262 Updated tab title
  application/templates/contact-email.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#263 Update declaration.html
  application/templates/other_people_health_check/declaration.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#264 Fix to set People in your home task to Done if all health checks are completed in returned application
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Bug

#265 add feedback link
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Userstory

#266 Update govuk_template.html
  govuk_template/templates/govuk_template.html
Labels: App: Frontend, Env: Dev, Priority: High, Status: Review Needed, Type: Userstory

#267 feat/ccn3-1435/update-email-page-content-change
  application/templates/update-email.html
Labels: App: Frontend, Priority: Medium

#271 Remove URL prefixes
  application/views/other_people.py
Labels: App: Frontend, Env: Dev, Priority: Critical, Status: Review Needed, Type: Bug

#272 Fix/ccn3 1407/first aid error message correction
  application/forms/first_aid.py
  application/tests/tests_application/test_functional.py
  childminder/settings/base.py
Labels: App: Frontend

#270 Update validation messages, urls and tab titles
  application/forms/account_selection.py
  application/forms/childcare_type.py
  application/summary_page_data.py
  application/templates/childcare-age-groups.html
  application/tests/tests_application/test_login_redirect_helper.py
  application/tests/tests_views/test_type_of_childcare.py
  application/views/childcare_type.py
  childminder/urls.py
Labels: App: Frontend, Env: Dev, Priority: Medium, Type: Feature
