Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2019-03, with the labels that each got.

#566 Remove legacy application reference generation assets
  application/fixtures/adult_in_home.json
  application/fixtures/seed_reference_number.json
  application/fixtures/submitted_app_household_member.json
  application/fixtures/test_integration_cases.json
  application/migrations/0058_delete_applicationreference.py
  application/models/__init__.py
  application/models/application_reference.py
Labels: App: Backend

#567 Refactor/move custom fields and widgets
  application/forms/PITH_forms/PITH_DBS_type_of_check_form.py
  application/forms/PITH_forms/PITH_adult_details_form.py
  application/forms/PITH_forms/PITH_base_forms/PITH_own_children_check_form.py
  application/forms/PITH_forms/PITH_own_children_details_form.py
  application/forms/childcare_training.py
  application/forms/dbs.py
  application/forms/fields.py
  application/forms/first_aid.py
  application/forms/other_people.py
  application/forms/other_person_health_check/current_illness.py
  application/forms/other_person_health_check/dob_auth.py
  application/forms/other_person_health_check/hospital_admission.py
  application/forms/other_person_health_check/local_authorities.py
  application/forms/other_person_health_check/serious_illness.py
  application/forms/payment.py
  application/forms/personal_details.py
  application/forms/personal_details_childcare.py
  application/forms/references.py
  application/forms/security_question.py
  application/forms/your_children.py
  application/tests/tests_views/test_task_status.py
  application/tests/tests_views/test_type_of_childcare.py
  application/views/cancel_application.py
  application/views/login/your_location.py
  application/views/other_people.py
  application/views/other_people_health_check/thank_you.py
  application/widgets.py
  application/widgets/ConditionalPostChoiceWidget.py
Labels: App: Backend, Type: Refactor

#563 Refactor/test cleanup
  application/tests/test_declaration/test_routing.py
  application/tests/test_declaration_and_payment/__init__.py
  application/tests/test_declaration_and_payment/test_helper_methods.py
  application/tests/test_declaration_and_payment/test_routing.py
  application/tests/test_login_and_signup/__init__.py
  application/tests/test_login_and_signup/test_helper_methods.py
  application/tests/test_people_in_the_home/test_adult_in_home/__init__.py
  application/tests/test_people_in_the_home/test_adult_in_home/test_routing.py
  application/tests/test_personal_details/__init__.py
  application/tests/test_personal_details/test_routing.py
  application/tests/tests_application/test_application_references.py
  application/tests/tests_application/test_payment.py
  application/tests/tests_application/test_personal_details.py
  application/tests/utils.py
  application/views/payment.py
Labels: Type: Refactor, Type: Tests

#568 fix/ccn3-2234/update-dbs-lived-abroad-confirmation-page
  application/templates/payment-confirmation-health-dbs.html
Labels: App: Frontend, Type: Bug

#573 feat/CCN3-1835/reminder-email
  application/migrations/0062_application_application_expiry_email_sent.py
  application/migrations/0063_auto_20190325_1450.py
  application/models/application.py
  application/views/magic_link.py
Labels: App: Backend, Type: Enhancement
