Repository InformedSolutions/OFS-MORE-Childminder-Website, pull requests merged in 2019-02, with the labels that each got.

#531 refactor/pith-check-your-answers
  application/business_logic.py
  application/forms/PITH_forms/PITH_check_your_answers_form.py
  application/forms/dbs.py
  application/forms/other_people.py
  application/tests/tests_views/test_other_people.py
  application/tests/tests_views/test_payment.py
  application/tests/tests_views/view_parent.py
  application/views/PITH_views/PITH_check_your_answers.py
  application/views/PITH_views/__init__.py
  application/views/other_people.py
  childminder/urls.py
Labels: App: Backend, Priority: High, Type: Refactor

#533 Feat/ccn3 1980/your children update
  application/dbs.py
  application/forms/PITH_forms/PITH_base_forms/PITH_own_children_check_form.py
  application/forms/other_person_health_check/local_authorities.py
  application/forms/personal_details_childcare.py
  application/migrations/0051_auto_20190205_2150.py
  application/models/adult_in_home.py
  application/models/application.py
  application/summary_page_data.py
  application/templates/PITH_templates/PITH_own_children_check.html
  application/templates/generic-summary-template.html
  application/templates/master-summary.html
  application/tests/tests_application/test_your_children.py
  application/tests/tests_views/test_people_in_the_home.py
  application/tests/tests_views/test_task_list.py
  application/views/PITH_views/PITH_check_your_answers.py
  application/views/PITH_views/PITH_own_children_check.py
  application/views/dbs.py
  application/views/declaration.py
  application/views/other_people_health_check/local_authorities.py
  application/views/payment.py
  application/views/personal_details.py
  application/views/task_list.py
  application/views/your_children.py
  childminder/settings/base.py
  childminder/urls.py
Labels: App: Backend, App: Frontend, Priority: High, Status: Review Needed, Type: Feature

#534 feat/CCN3-2124/flag-comment-limit-migrations
  application/migrations/0052_auto_20190207_1552.py
  application/models/arc_comments.py
Labels: App: Backend, Priority: Medium, Status: Review Needed, Type: Feature

#535 Feat/ccn3 2064/dbs checks on adults page
  application/business_logic.py
  application/forms/PITH_forms/PITH_DBS_check_form.py
  application/forms/PITH_forms/PITH_DBS_type_of_check_form.py
  application/summary_page_data.py
  application/templates/PITH_templates/PITH_DBS_post_or_apply.html
  application/templates/PITH_templates/PITH_DBS_type_of_check.html
  application/templates/PITH_templates/PITH_apply.html
  application/templates/PITH_templates/PITH_post.html
  application/templates/master-summary.html
  application/tests/tests_application/base.py
  application/tests/tests_application/test_childcare_training.py
  application/tests/tests_application/test_criminal_record_checks.py
  application/tests/tests_application/test_functional.py
  application/tests/tests_application/test_people_in_the_home.py
  application/tests/tests_selenium/selenium_task_executor.py
  application/tests/tests_selenium/test_apply_as_a_childminder.py
  application/tests/testutils.py
  application/views/PITH_views/PITH_DBS_check.py
  application/views/PITH_views/PITH_DBS_post_or_apply.py
  application/views/PITH_views/PITH_DBS_type_of_check.py
  application/views/PITH_views/PITH_apply.py
  application/views/PITH_views/PITH_check_your_answers.py
  application/views/PITH_views/PITH_children_check.py
  application/views/PITH_views/PITH_children_details.py
  application/views/PITH_views/PITH_own_children_check.py
  application/views/PITH_views/PITH_own_children_select.py
  application/views/PITH_views/PITH_post.py
  application/views/PITH_views/__init__.py
  application/views/PITH_views/base_views/PITH_form_view.py
  application/views/PITH_views/base_views/PITH_multi_form_view.py
  application/views/PITH_views/base_views/PITH_multi_radio_view.py
  application/views/__init__.py
  application/views/base.py
  application/views/declaration.py
  childminder/urls.py
  requirements.dev.txt
  requirements.txt
Labels: App: Backend, App: Frontend, Type: Feature

#538 feat/CCN3-2087/payment-page-content
  application/templates/payment-details.html
Labels: App: Frontend, Priority: Medium, Type: Feature

#539 fix/CCN3-1974/remove-check-view
  application/tests/tests_application/test_criminal_record_checks.py
  application/views/dbs.py
  childminder/urls.py
Labels: App: Backend, Priority: High, Type: Bug

#540 fix/CCN3-1974/remove-check-view-extended
  application/views/dbs.py
Labels: App: Backend, Priority: Medium, Status: Review Needed

#541 fix/CCN3-1974/info-update
  application/views/dbs.py
Labels: App: Backend

#542 fix/CCN3-1974/fix-error-heading-name
  application/forms/dbs.py
Labels: App: Backend

#548 Feat/CCN3-1980/your children-bug-fixes
  application/forms/PITH_forms/PITH_base_forms/PITH_own_children_check_form.py
  application/summary_page_data.py
  application/views/PITH_views/PITH_check_your_answers.py
Labels: App: Frontend, Type: Bug

#547 fix/CCN3-1974/remove-question-mark
  application/views/dbs.py
Labels: App: Frontend, Priority: High, Type: Bug

#546 feat/CCN3-2114/dbs-upload-filename
  application/migrations/0054_capitadbsfile.py
  application/models/__init__.py
  application/models/capita_dbs_file.py
Labels: App: Backend, Priority: Medium, Type: Feature

#553 fix/CCN3-1984/pith-task-conditions
  application/views/task_list.py
Labels: App: Frontend, Priority: High

#554 fix adults dbs type page not listing adults after going back
  application/tests/test_people_in_the_home/test_routing.py
  application/views/PITH_views/PITH_DBS_type_of_check.py
Labels: App: Backend, Type: Bug

#556 fix/CCN3-1974/wrong-form-validation
  application/forms/PITH_forms/PITH_DBS_check_form.py
  application/forms/dbs.py
Labels: App: Backend

#560 feat/ccn3-1976/fixing-template-issue
  application/templates/dbs-guidance-second.html
Labels: App: Frontend
